.container{
    width:900px;
    margin:20px auto;
}
form .ng-pristine {
    border: 1px dotted red;
}
input.ng-invalid.ng-dirty {
    background-color:pink;
}
input.ng-valid.ng-dirty {
    background-color:lightgreen;
}